<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beers</title>
</head>
<body>
    <ul>
        {{#each beers}}
            <li><img src={{this.image_url}}> {{this.name}} {{this.description}} {{this.tagline}}</li>
        {{else}}
            <p>No Beers yet!</p>
        {{/each}}
    </ul>
</body>
</html>